// Pseudo element contains picture as background to allow custom placement
		&:before
			content: ''
			display: block
			+absolute(-10px,-12px,null,null)
			width: 150px
			height: 197.25px
			background:
				size: cover
				position: center center
		
	.profile-name
		margin-bottom: 5px
		font:
			size: 1rem
			weight: 400
		text-align: center
		color: $text-dark

	.profile-position
		margin-bottom: 15px
		font:
			size: 0.875rem
			weight: 400
		text-align: center
		color: $grey
	
	p
		margin-bottom: 25px
		font:
			size: 0.875rem
		color: $text-dark
		letter-spacing: 0.04rem		
