<!DOCTYPE html>
<html>
<head>
  <title>Kamva MindPal - Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('services') }}">Services</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
        <li class="get-started-btn"><a href="#" onclick="toggleLoginForm()">Get Started</a></li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <h1 class="heading">Welcome to Kamva MindPal</h1>
    <h1>About us!</h1>
    <h2 class="sub-heading">Kamva the future is an advocacy campaign driven by the youth, committed to addressing mental health issues. We are dedicated to creating opportunities, awareness and access to mental health resources for all young people. We strive to promote holistic wellness and support the well-being of our communities. Our mission is to create a safe and open-minded space for all young people to share their stories, find accurate information and receive much needed help. It is the Testament to our team's commitment to leveraging technology for the betterment of mental health, and we are driven by the hope that it will make a significant difference in the lives of individuals seeking support and understanding.</h2>
    <ul class="issue-list">
      <li><a href="#">Anxiety</a></li>
      <li><a href="#">Depression</a></li>
      <li><a href="#">Stress</a></li>
      <li><a href="#">Relationships</a></li>
      <li><a href="#">Self-esteem</a></li>
      <li><a href="#">Addiction</a></li>
      <li><a href="#">Peer Pressure</a></li>
      <li><a href="#">Family Issues</a></li>
    </ul>
  </div>

  <footer>
    <p>&copy; 2023 Kamva MindPal. All rights reserved.</p>
  </footer>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
